        .primer-mes img {
        width: 150px; /* Ajusta este valor para hacerla más grande */
        height: 150px; /* Ajusta este valor para hacerla más grande */
        }
        body {
            font-family: 'Arial', sans-serif;
            background-color: #ffebee;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            text-align: center;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
        }
        body.fade-out {
            opacity: 0;
        }
        .container {
            width: 90%;
            max-width: 800px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        h1 {
            color: #d81b60;
            margin-bottom: 30px;
        }
        .cards {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }
        .card {
            background: white;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 250px;
            padding: 20px;
            transition: transform 0.3s;
            cursor: pointer;
        }
        .card:hover {
            transform: scale(1.05);
        }
        .card img {
            width: 100px; /* Tamaño por defecto para todas las imágenes de tarjeta */
            height: 100px; /* Tamaño por defecto para todas las imágenes de tarjeta */
            margin-bottom: 15px;
        }
        /* Estilo específico para la imagen de la tarjeta "Primer mes" */
        .primer-mes img {
            width: 120px; /* Ajusta este valor para hacerla más grande */
            height: 120px; /* Ajusta este valor para hacerla más grande */
        }
        .card h2 {
            color: #d81b60;
            margin: 10px 0;
        }
        .card p {
            color: #555;
        }
        .san-valentin {
            border-top: 5px solid #e91e63;
        }
        .dia-madres {
            border-top: 5px solid #4caf50;
        }
        .primer-mes {
            border-top: 5px solid #87ceeb; /* Celeste */
        }
        .card.quinto-mes {
            border-top: 5px solid #a881af; 
        }
        .quinto-mes img {
            width: 190px; 
            height: 120px
        }

        .card.quinto-mes h2 {
        color: #b03060; 
         color: #b03060; } 

        .card.cumpleanos {
              color: #b03060; 
              border-top: 5px solid #40E0D0; 
         }
        footer {
            width: 100%;
            background-color: #d81b60;
            color: white;
            padding: 15px 0;
            text-align: center;
            font-size: 0.9em;
            margin-top: auto;
        }
        footer p {
            margin: 5px 0;
        }
        .corazon {
            color: #ffebee;
            font-size: 1.2em;
        }