#mensaje h2{
        color: #4682b4;
        margin-bottom: 20px;
        font-size: 1.5em;

}
 header {
            background-color: #4682b4;
            color: white;
            padding: 20px;
            text-align: center;
            font-size: 2em;
            font-weight: bold;
        }
        #s{
            padding: 10px;
            position: absolute;
            top: 70px;
            left: 0px;
        }
        body {

    
            font-family: 'Arial', sans-serif;
            background-color: #e0f7fa;
            margin: 0;
            padding: 0;
            text-align: center;
            opacity: 0;
            animation: fadeIn 0.5s ease-in-out forwards;
        }
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        .container {
            max-width: 800px;
            margin: 0 auto; /* Centra el div horizontalmente */
            text-align: center; /* Centra el texto dentro del div */
            display: grid;
            grid-template-rows: auto 1fr auto;
            min-height: 100vh;
        }
        main {
            margin-top: 3%;
            flex-grow: 1; /* Permite que el main ocupe el espacio restante */
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
    }
    .card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 20px;
        max-width: 600px;
        text-align: center;
    }
            .container .card {
            border-top: 5px solid #0c7583; /* Celeste para el borde superior de la tarjeta */
        }
        h2 {
            color: #0c7583; /* Azul acero para el encabezado de la tarjeta */
            margin-bottom: 20px;
            font-size: 1.5em;
        }

        .card p {
            font-size: 1.2em;
            line-height: 1.6;
        }
        #mensaje {
            font-size: 1.2em;
            color: #555;
            margin: 20px 0;
        }


        .back-btn {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #0c7583;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        .back-btn:hover {
            background-color: #00acc1 ;
            transform: scale(1.1);
        }
        /* Footer personalizado para Día de las Madres */
        footer {
            width: 100%;
            background-color: #00acc1;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 10px;
            font-size: 0.9em;
        }
        footer p {
            margin: 5px 0;
            color: white;
        }
        .flor {   
            color: #e0f7fa; /* El corazón del footer en celeste muy claro */
            font-size: 1.2em;
        }
        @keyframes fadeOut {
            from { opacity: 1; }
            to { opacity: 0; }
        }
        .regalo-btn {
            position: fixed;
            bottom: 90px;
            right: 20px;
            background-color: #00acc1;
            color: white;
            border: none;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            font-size: 24px;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.3s;
        }
        .regalo-btn:hover {
            transform: scale(1.1);
            background-color: #00acc1  ;

        }
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 2000;
            justify-content: center;
            align-items: center;
            animation: fadeIn 0.3s;
        }
        .modal-contenido {
            background-image: url(../);
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            max-width: 80%;
            max-height: 80%;
            overflow: auto;
        }
        .modal-contenido h3{
            color: #4682b4;
        }
        .modal-contenido img {
            max-width: 100%;
            max-height: 600px;
            border-radius: 20px;
        }
        .cerrar-modal {
            margin-top: 15px;
            padding: 8px 16px;
            background-color: #2e7d32;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .img{
            width: 60%;
            height: 60%;
        }









.fade-out {
    opacity: 0;
}
.flowers {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.flower {
    color: #87ceeb;
    font-size: 1.5em;
    margin: 0 10px;
    animation: float 3s ease-in-out infinite;
}
    @keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    }